<br>
<h1 class="general">Log in here:</h1>
<%= form_with url: '/login' do |f| %>
    <%= f.label :username, autofocus: true %>
    <%= f.text_field :username %><br><br>
    <%= f.label :password %>
    <%= f.password_field :password %><br><br><br>
    <%= f.submit "Log in" %>
<% end %>
<br>
You can also
<br><br>
<%= button_to "Log in with Facebook", "/auth/facebook", method: :post %>
<!-- <%= button_to "Log in with Google", "/auth/google_auth2", method: :post %> -->
