<% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |error| %>
        <h4><%= error %></h4>
    <% end %>
<% end %>
    
<h1>Log in here:</h1>
<%= form_with url: '/login' do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %><br><br>
    <%= f.label :password %>
    <%= f.password_field :password %><br><br><br>
    <%= f.submit "Log in" %>
<% end %>