<% if @comment.errors.any? %>
    <% @comment.errors.full_messages.each do |c| %>
        <h4><%= c %></h4>
    <% end %>
<% end %>

<h1>Create your new comment for Goal <%= @goal.content %> here:</h1>
<%= form_for @comment, url: goal_comments_path(@goal) do |f| %>
<%= f.label "Your comment: " %><%= f.text_field :content %><br><br>
<%= f.submit %>
<% end %>