<% if @user.errors.any? %>
        <% @user.errors.full_messages.each do |error| %>
            <h4><%= error %></h4>
        <% end %>
    <% end %>

<%= form_with model: @user do |f| %>
<%= f.label "Username: " %><%= f.text_field :username %><br><br>
<%= f.label "Location: " %><%= f.text_field :location %><br><br>
<%= f.label "Email: " %><%= f.email_field :email %><br><br>
<%= f.label "Password: " %><%= f.password_field :password %><br><br>
<%= f.label "Confirm password: " %><%= f.password_field :password_confirmation %><br><br>
<%= f.submit %>
<% end %>