<% if @goal.errors.any? %>
    <% @goal.errors.full_messages.each do |g| %>
        <h4><%= g %></h4>
    <% end %>
<% end %>

<%= form_with model: @goal do |f| %>
<%= f.label "Category: " %><%= f.collection_select :category_id, Category.all.order('name ASC'), :id, :name %><br><br>
<%= f.label "What's your next goal? " %><%= f.text_field :content %><br><br>
<%= f.label "Please, provide some details " %><%= f.text_area :details %><br><br>
<%= f.label "Have you already achieved this goal? " %>
<%= f.radio_button :achieved, true %><%= f.label :achieved_true, "Yes" %>
<%= f.radio_button :achieved, false %><%= f.label :achieved_false, "Not yet" %><br><br>
<%= f.label "When do you want to achieve it? (choose a number of months) " %><%= f.number_field :month, in: 1..60 %><br><br>
<%= f.submit %>
<% end %>