<h1 class="general">Goal: <%= @goal.content %></h1>
<h3 class="general">Category: <%= link_to @goal.category.name, goal_category_path(@goal, @goal.category_id) %></h3>
<h3 class="general">Set by: <%= link_to @goal.user.username, goal_user_path(@goal, @goal.user_id) %></h3>
<h3 class="general">Details:<h3> <%= @goal.details %>
<h3 class="general">Time to achieve:</h3> <%= @goal.month %> month(s)
<h3 class="general">Has it been achieved?</h3> <%= @goal.achieved ? "Yes" : "Not yet" %>
<br><br>

<% if logged_in? && @goal.user_id == current_user.id %>
<button class="btn"><%= link_to "Create a new goal", new_goal_path(@goal) %></button> | <button class="btn"><%= link_to "Edit this goal", edit_goal_path(@goal) %></button> | <button class="btn"><%= link_to "Delete this goal", @goal, method: :delete, data: { confirm: "Do you really want to delete this goal?" } %></button>
<% end %>

<h3 class="general">Comments for this goal:</h3>
<ul><% @goal.comments.each do |comment| %>
<li><%= link_to comment.user.username, goal_user_path(@goal, comment.user_id) %> commented: <%= link_to comment.content, goal_comment_path(@goal, comment) %></li>
<% end %></ul>

<% if logged_in? %>
<button class="btn"><%= link_to "Add a new comment for this goal", new_goal_comment_path(@goal) %></button>
<% end %>