<h1>Here are the details about the Goal: <%= @goal.content %></h1>
<h2>Category:</h2> <%= link_to @goal.category.name, category_path(@goal.category) %>
<h2>Set by:</h2> <%= link_to @goal.user.username, user_path(@goal.user) %>
<h2>Details:</h2> <%= @goal.details %>
<h2>Time to achieve:</h2> <%= @goal.month %> months
<h2>Has it been achieved?</h2> <%= @goal.achieved %>
<h2>Comments for this goal:</h2>
<ul><% @goal.comments.each do |comment| %>
<li><%= comment.content %> by <%= link_to comment.user.username, user_path(comment.user) %></li>
<% end %></ul>       