<h1>Here are details for Goal: <%= @goal.content %></h1>
<h2>Category:</h2> <%= link_to @goal.category.name, category_path(@goal.category) %>
<h2>Set by:</h2> <%= link_to @goal.user.username, user_path(@goal.user) %>
<h2>Details:</h2> <%= @goal.details %>
<h2>Time to achieve:</h2> <%= @goal.month %> months
<h2>Has it been achieved?</h2> <%= @goal.achieved ? "Yes" : "No" %>
<br><br>
<button><%= link_to "Create new goal", new_goal_path(@goal) %></button> | <button><%= link_to "Edit this goal", edit_goal_path(@goal) %></button> | <button><%= link_to "Delete this goal", @goal, method: :delete, data: { confirm: "Do you really want to delete this goal?" } %></button>

<h2>Comments for this goal:</h2>
<ul><% @goal.comments.each do |comment| %>
<li><%= comment.content %> by <%= link_to comment.user.username, user_path(comment.user) %></li>
<% end %></ul>       