<h1 class="general">BucketLister Statistics - for our curious achievers:</h1>
<p class="general">Number of <%= link_to "users", users_path %>: <%= @users.count %></p>
<p class="general">Number of <%= link_to "categories", categories_path %>: <%= @categories.count %></p>
<p class="general">Number of <%= link_to "goals", goals_path %>: <%= @goals.count %></p>
<p class="general">Number of achieved <%= link_to "goals", goals_path %>: <%= @goals.true_achieved.count %></p>
<p class="general">Number of unachieved <%= link_to "goals", goals_path %>: <%= @goals.false_achieved.count %></p>
<p class="general">Number of <%= link_to "comments", comments_path %>: <%= @comments.count %></p>

<p class="general">Oldest goals set: </p>
<ul><% @first_gs.each do | fg | %>
<li><%= link_to fg.content, goal_path(fg) %></li>
<% end %></ul>

<p class="general">Latest goals set: </p>
<ul><% @latest_gs.each do | lg | %>
<li><%= link_to lg.content, goal_path(lg) %></li>
<% end %></ul>

<p class="general">Random achieved goals: </p>
<ul><% @ffg.each do | ffg | %>
<li><%= link_to ffg.content, goal_path(ffg) %></li>
<% end %></ul>

<p class="general">Random unachieved goals: </p>
<ul><% @unffg.each do | unffg | %>
<li><%= link_to unffg.content, goal_path(unffg) %></li>
<% end %></ul>