<!DOCTYPE html>
<html>
  <head>
    <title>BucketLister</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <h1 class="bl">Welcome to BucketLister!</h1><%= link_to "All achievers", users_path %> | 
    <%= link_to "All categories", categories_path %> | 
    <%= link_to "All goals", goals_path %> | 
    <%= link_to "All comments", comments_path %> | 
    <%= link_to "App statistics", admin_stats_path %>

    <br><br>

    <% if !logged_in? %>
<%= link_to "Sign Up", new_user_path %> | <%= link_to "Log In", login_path %>
<% else %>
You're logged in as <%= link_to current_user.username, user_path(current_user) %> | <%= link_to "Create a new goal", new_goal_path(@goal) %> | 
<%= link_to "Edit account", edit_user_path(current_user) %> | <%= link_to "Log Out", logout_path, method: :delete %> | 
<%= link_to "Delete account", @user, method: :delete, data: { confirm: "Do you really want to delete your account?" } %>
<% end %>
<br><br>
<% flash.each do |type, msg| %>
    <div><%= msg %></div>
<% end %>

    <%= yield %>
    
  </body>
  <footer class="bl"><h4>BucketLister - where all your goals are achieved with ease</h4></footer>
</html>